.ans{cursor: none; padding:12px;}
.ans:hover{background: #aaa;}
.pointer{cursor: pointer;}
.timeDisplay{
	position: relative;
	border-radius: 30px;
	background: #ccc;
	height: 17px;
	border:1px solid #ccc;
	background: url(../images/spiderman_sm.jpg) repeat-x;
}
.hideBar{
	position: absolute;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	height:30px;	
	height: 15px;
	right:0px;
	background: rgb(179, 4, 4);
	top:0px;
}
.container{
	max-width:930px; 
	margin:0px auto;
	background: url(../images/spiderman_041.jpg) no-repeat;
	padding-top: 150px;
	border:1px solid #0d1e37;
}
#btnReplay{
	margin: 0 auto;
	background: url(../images/spiderWebButton.png) no-repeat;
	width: 300px;
	height: 150px;
	cursor: pointer;
}
.chosen{border:1px solid #aaa;}
.red{color:red; text-decoration: line-through}
button{margin-left:calc(50% - 36px); margin-bottom:24px;}
@media (max-width: 992px) { 
	.container{
		background: url(../images/spiderman_md.jpg) no-repeat;
	}
}
@media (max-width: 768px) { 
	h3 {
		font-size:1.25em;
	}  
	.container{
		background: url(../images/spiderman_sm.jpg) no-repeat;
		padding-top: 112px;
	}
}

 